@import '~rc-easyui/dist/themes/default/easyui.css';
@import '~rc-easyui/dist/themes/icon.css';
@import '~rc-easyui/dist/themes/react.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
